.color-primary{
    color: #4f3ea2;
}


.backgroud-primary{
    background-color: #4f3ea2;
}
    .backgroud-primary:hover{
        background-color: #413291;
    }

    .backgroud-primary:active{
        background-color: #413291;
    }

    .backgroud-primary:focus{
        background-color: #413291;
        border-color: #4b3ca2;
        box-shadow: 0 0 0 0.2rem rgb(75, 60, 162, 0.25) !important;
    }